# --- Python / Django ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg-info/
.eggs/
build/
dist/
downloads/
develop-eggs/
parts/
sdk/
var/
wheels/

# Entornos virtuales (no versionar)
venv/
.venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Variables de entorno 
.env

# VS Code / IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Bases de datos / backups
*.mdf
*.ldf
*.sqlite3
